# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# session storage
.sessions.json
.data/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python
.venv/
examples/example_python_real/
*.pyc
__pycache__/

# Files used as examples with actual data
*.real.json
/examples/real_onshape_docs/
*.csv
notes/AIRTABLE_API.md
notes/CONSOLE-OUTPUT.md
examples/onshape-docureader/do_not_upload/
thumbnail_extraction/

# AI Pack
.aipack/
/notes/LLM-PROMPT.md
/notes/LLM-PROMPT-GUIDE.md
/notes/LLM-RESPONSE.md
.aipack-distiller/
ako-config.jsonc